@import'../../../core/styes/variables.scss';

.container-fluid {
    margin-top: 0.5rem;
}

.action-button {
    text-align: center;
    background-color: $blue-background-label;
    color: white;
}

.label-title {
    font-size: 1.3rem;
    font-family: $opensans-bold;
    color: $blue-background-label;
    margin: 1.5rem 0;
  }