<div class="container-fluid modal-error">
  <div class="row row-not-margin mx-auto center-content">
    <!-- <mat-icon class=" feedback-icon"></mat-icon> -->
  </div>
  <div class="row row-not-margin">
    <h5 class="feedback-modal-title w-100">Información</h5>
  </div>
  <div class="row row-not-margin center-content" style="max-width: 38vw;">
    <!-- <div class="col-md-12"> -->
    <label class="feedback-modal-description w-100">¿Desea hacer el registro del diario?</label>
    <!-- </div> -->
  </div>
  <div class="row row-not-margin mt-3 center-content">
    <!-- <div class="col-md-12"> -->
    <div class="mx-auto">
      <button class="btn btn-primary" (click)="closeDialog(1)">Sí</button>
    </div>
    <div class="mx-auto">
      <button class="btn btn-secondary" (click)="closeDialog(0)">No</button>
    </div>
    <!-- </div> -->
  </div>
</div>
