<div class="container-fluid">
  <!-- <div class="row row-not-margin mx-auto center-content">
    <mat-icon class=" feedback-icon"
      [ngClass]="{'success': status == 'success', 'error': status == 'error', 'warning': status == 'warning'}">{{icon}}
    </mat-icon>
  </div> -->
  <div class="row row-not-margin">
    <h5 class="feedback-modal-title w-100">{{labelTitile}}</h5>
  </div>
  <div class="row row-not-margin center-content">
    <!-- <div class="col-md-12"> -->
    <label *ngFor="let msjs of this.msjs">{{msjs}}<br></label>
    <!-- </div> -->
  </div>
  <div class="row row-not-margin mt-3 center-content">
    <!-- <div class="col-md-12"> -->
    <div class="mx-auto">
      <button mat-flat-button mat-dialog-close class="btn btn-primary ">Aceptar</button>
    </div>
    <!-- </div> -->
  </div>
</div>
