@import'../../core/styes/variables.scss';

.form-clearable-field {
    width: 100%;
}

.container-fluid {
    margin-top: 5.5rem;
}

.action-button {
    text-align: center;
    background-color: $blue-background-label;
    color: white;
}

.for-report-color {
    color: orange;
}

.reported-color {
    color: green;
}


.actividad-act {
    font-size: 1.5rem;
}

.color-actividad-act {
    color: $blue-background-label;
}

.pieces-qty {
    font-size: 3rem;
}

.charts-row {
    margin-top: 3rem;
}

.row-actividad {
    margin-top: 2rem;
}

.models-title {
    font-size: 1rem;
}

.mat-icon-open{
    font-size:18px !important;
}

.btt-open {
    border: 0px;
    background-color: white;
}

.btt-open-enabled {
    color: $blue-background-label;
}

.div-open {
    //border-bottom: 1px gray solid;
    height: 2.5rem;
}