<div class="card-wrapper">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Líneas a seleccionar de factura
      </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngFor="let line of LinesToReceive" (click)="saveLineInformationToReceive(line)">
      <div class="row" >
        <div class="row">
          <div class="col-12">
          <strong>Línea:</strong> {{line.NumLinea}}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <strong>Ped. de Compra:</strong> {{line.PedidoCompra}}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
          <strong>Artículo: </strong>{{line.ItemId}} - {{line.ItemName}}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
          <strong>Color:</strong> {{line.Color}}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
          <strong>Cantidad:</strong> {{line.CantidadRecibir}}
          </div>
        </div>
        <div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="closeDialog(null)">
        <mat-icon>undo</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
